// Define variables for your color scheme

// For example:
$red: #E03E3E;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #9DA3A4;
$light-gray: #F4F4F4;
$black: #403F4C;
$blue-white: #E3F2FD;
$white: #FFFFFA;
$olive: #212922;
$lavender: #B2ABF2;
$dirty-blue: #7C99B4;
$ghost: #F4F4F9;
$dark-gray: #5C6B73;
